body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    background-image: url("app/static/images/1.webp");
    background-size: cover;
    background-position: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .header__inner {
    color: #efefef;
    margin-top: 40px;
    font-size: 24px;
}

header .header__logo {
    margin-top: 0px;
    margin-bottom: 30px;
}

header .header__logo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 200;
    color: #efefef;
}

header .header__logo a:hover {
    color: #ea9292;
    transition: color 0.2s;
}

.page__content {
    border: 5px solid white;
    box-shadow: 20px 20px #efefef;
    padding: 10px 20px;
    width: 1200px;
    border-radius: 4px;
}

.page__content p {
    line-height: 1.625;
    font-size: 24px;
}

.categories__container {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    justify-content: center;
    align-items: center;
}

.category__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    min-width: 600px;
    background-color: white;
    box-shadow: 10px 10px #efefef;
    border-radius: 4px;
}

.category__box a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 20px 20px;

}

.category__box a:hover {
    color: #ea9292;
    transition: color 0.2s;
}

.category__box p {
    font-size: 21px;
}