<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/articles.css') }}">
    <title>Статьи по теме {{ category_name }}</title>
</head>
<body>
    <header >
        <h1>Статьи по теме {{ category_name }}</h1>
    </header>
    {% if articles %}
    <div class="container">
            {% for article in articles %}
                <div class="post">
                    <div class="post-title">{{ article.title }}</div>
                    <div class="post-content">{{ article.content }}</div>
                </div>
            {% endfor %}
    </div>
    {% else %}
        <div>
            <h1>Статей по теме {{ category_name }} не найдено!</h1>
        </div>
    {% endif %}
</body>
</html>