<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/articles.css') }}">
    <title>Статьи по теме {{ category_name }}</title>
</head>
<body>
    <header>Статьи по теме {{ category_name }}</header>
    
    <main>
        {% if articles %}
            <div class="articles">
                {% for article in articles %}
                <a href="/pages/articles/Китай/article?id={{ article.id }}">   
                    <div class="article">
                        <div class="article-image">
                            <img src="{{ url_for('static', path='images/' + article.image_id|string + '.webp') }}" alt="">
                        </div>
                        <div class="article-content">
                            <h3>{{ article.title }}</h3>
                            <span>{{ article.content }}</span>
                        </div>
                    </div>
                </a>
                    {% endfor %}
            </div>
        {% else %}
            <div class="denial">Отсутствует информация</div>
        {% endif %}
    </main>

    <footer>
        <p>Project by Romadin Ivan <br> Check on GitHub: <a href="https://github.com/iogannR" target="_blank">iogannR</a>!</p>
    </footer>

</body>
</html>