<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>Home Page</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Welcome to our site!</h1> 
    </div>
    {% if categories %}
        <div style="text-align: center; font-size: 2em; margin-bottom: 15rem">
            {% for category in categories %}
                <a href='/pages/articles/{{ category.name }}'">{{ category.name }}</a>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>