<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    Welcome to our site!
    {% if categories %}
        <div>
            {% for category in categories %}
                <button onclick="window.location.href=
                '/pages/articles/{{ category.name }}'">{{ category.name }}
                </button>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>